#caixa {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 1100px;
  top: 100px;
  left: 410px;
  display: inline-flex;
  position: absolute;
  text-align: center;
}

#titulo {
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(177, 219, 10);
  display: inline-flexbox;
  position: relative;
  left: 470px;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

img {
  position: absolute;
  width: 1200px;
}

#botao {
  position: relative;
  top: 450px;
  color: rgb(177, 219, 10);
  border: 50px;
  border-radius: 5px;
  background-color: #0a0a0a;
  width: fit-content;
  left: 850px;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  padding: 20px 40px;
}

a:hover {
  text-decoration: none;
  color: #d2b41e;
}
#forgot {
  position: relative;
  text-align: center;
  top: 480px;
  text-decoration: none;
  left: 890px;
  color: aliceblue;
}

#form {
  position: relative;
}

#email {
  position: relative;
  text-align: center;
  top: 350px;
  display: flex;
  left: 750px;
  font-size: xx-large;
}

#senha {
  position: relative;
  text-align: center;
  display: flex;
  top: 400px;
  left: 750px;
  font-size: xx-large;
  
}
